.board-app {
  height: auto;
  background-size: 100%;


}

.board-app__inner {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}

.board-app__inner h1 {

  font-size: 32px;
}

.board-app__header {
  background:  url(https://images.wallpaperscraft.ru/image/single/pustynia_pesok_noch_129966_1920x1080.jpg);
  background-size: 100%;
  padding: 24px 0;
  padding-bottom: 20px;

  color: #ffffff;
  background-color: var(--main-blue);

}

.board-app__main {
  background:  url(https://images.wallpaperscraft.ru/image/single/pustynia_pesok_noch_129966_1920x1080.jpg);
  background-size: 100%;
  padding: 48px 0;
  background-color: var(--main-bg);
  min-height: calc(100vh - 80px);
}
